@import (less) "vendor/bootstrap.css";

.search {
  padding: 10px 0;
  .btn {
    padding: 5px 12px;
  }
}

.page-blog-list {
  header {
    padding-top: 0;
    padding-bottom: 0;
    a {
      color: #292929;
      text-decoration: none;
      &:hover {
        color: #292929;
        text-decoration: none;
      }
    }
  }
}
