---
layout: blog.hbs
---
<article>
  <h5>
    <a href="{{permalink}}">{{title}}</a><br/>
    <small>{{formatDate date "%Y年%m月%d日"}}</small>
  </h5>
  {{#markdown}}
    {{>body}}
  {{/markdown}}
</article>
