---
permalink: /
---
<!-- PAGE | WELCOME -->
<div class="pages white paralax page-welcome" id="page-welcome">
  <div class="overlay"></div>
  <!-- Centralized content -->
  <div class="centralized">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 center">
          <!-- Animated logo -->
          <div class="logo">
            <div class="scrollNormal">
              <a href="#page-about">
                <img src="/images/welcome/logo_welcome.png" width="140" height="140" alt="Treble">
              </a>
            </div>
            <div class="scrollDown">
              <a href="#page-about">
                <img src="/images/welcome/logo2_welcome.png" width="140" height="140" alt="Treble">
              </a>
            </div>
          </div>

          <h2 class="line-divider">纯映文化传播有限公司</h2>
          <div id="welcome-messages">
            <ul class="slides">
              <li>
                <h3>创意广告片</h3>
              </li>
              <li>
                <h3>企业宣传短片</h3>
              </li>
              <li>
                <h3>大型活动纪录片</h3>
              </li>
            </ul>
          </div>
          <div class="social-icons sicon-white bordered">
            <a href="#" class="sicon-facebook"><i>Facebook</i></a>
            <a href="#" class="sicon-twitter"><i>Twitter</i></a>
            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
            <a href="#" class="sicon-youtube"><i>Youtube</i></a>
            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | Welcome -->

<!-- PAGE | ABOUT -->
<div class="pages page-about" id="page-about">
  <div class="container">
    <header>
      <h4 class="line-divider">关于我们</h4>
      <h1>纯映团队</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            人才是成功之本。而我们的人才，是公司最重要的基础和资产。
          </p>
          <p>
            我们的团队勇于面对挑战，纯粹因为他们希望这样，而非被告诫如此。
          </p>
          <p>
            我们喜欢尝新，亦乐意冒险。我们的团队时常「勇字先行」，不当潮流的奴僕。
          </p>
        </div>
      </div>
    </header>
    <article>
      <ul class="thumbnails about-items">
        <li class="span3 center">
           <div class="item">
            <img class="nothr" src="/images/about/member1.jpg">
            <img class="hover" src="/images/about/member1-hover.jpg">
            <div class="about-overlay">
              <div class="social-icons sicon-white">
                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
            </div>
          </div>
          <h5>
            路人<br/>
            <small>创意总监</small>
          </h5>
          <p class="smallFontBy08">
            想出新办法的人在他的办法没有成功以前，人家总说他是异想天开。
          </p>
        </li>
        <li class="span3 center">
          <div class="item">
            <img class="nothr" src="/images/about/member2.jpg">
            <img class="hover" src="/images/about/member2-hover.jpg">
            <div class="about-overlay">
              <div class="social-icons sicon-white">
                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
            </div>
          </div>
          <h5>
            路人<br/>
            <small>创意总监</small>
          </h5>
          <p class="smallFontBy08">
            想出新办法的人在他的办法没有成功以前，人家总说他是异想天开。
          </p>
        </li>
        <li class="span3 center">
          <div class="item">
            <img class="nothr" src="/images/about/member3.jpg">
            <img class="hover" src="/images/about/member3-hover.jpg">
            <div class="about-overlay">
              <div class="social-icons sicon-white">
                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
            </div>
          </div>
          <h5>
            路人<br/>
            <small>创意总监</small>
          </h5>
          <p class="smallFontBy08">
            想出新办法的人在他的办法没有成功以前，人家总说他是异想天开。
          </p>
        </li>
        <li class="span3 center">
          <div class="item">
            <img src="/images/about/you.jpg">
          </div>
          <h5>
            路人<br/>
            <small>创意总监</small>
          </h5>
          <p class="smallFontBy08">
            想出新办法的人在他的办法没有成功以前，人家总说他是异想天开。
          </p>
        </li>
      </ul>
    </article>
    <!-- End Article -->
  </div>
</div>
<!-- END PAGE | ABOUT -->

<div class="pages white paralax page-features" id="page-features">
  <div class="overlay"></div>
  <div class="container">
    <header>
      <h3 class="line-divider">我们的工作室</h3>
      <div class="row">
        <div class="span8 offset2">
          <p>
            舒适的工作环境是灵感之源泉，同时也提高我们的工作效率。
          </p>
        </div>
      </div>
    </header>
    <article>
      <div id="swiper" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/images/studio/studio1.jpg" alt="slider image 1" ></div>
          <div class="swiper-slide"><img src="/images/studio/studio2.jpg" alt="slider image 2"></div>
          <div class="swiper-slide"><img src="/images/studio/studio3.jpg" alt="slider image 3"/></div>
          <div class="swiper-slide"><img src="/images/studio/studio4.jpg" alt="slider image 4"/></div>
          <div class="swiper-slide"><img src="/images/studio/studio5.jpg" alt="slider image 5"/></div>
          <div class="swiper-slide"><img src="/images/studio/studio6.jpg" alt="slider image 6"/></div>
        </div>
      </div>
    </article>
  </div>
</div>
<!-- END PAGE | FEATURES -->


<!-- PAGE | WORK -->
<div class="pages page-work" id="page-work">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">我们的作品</h4>
      <h1>精选作品展示</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            我们为您挑选了几个作品。
          </p>
        </div>
      </div>
      <nav class="submenu">
        <ul>
          <li>
            <a href="#" class="plugin-filter active" data-filter="all">显示全部</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="commercial">实拍广告</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="promotion">品牌宣传片</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="behind-the-scenes">活动花絮</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="documentary">纪录片</a>
          </li>
        </ul>
      </nav>
    </header>
    <article>
      <ul class="thumbnails plugin-filter-elements portfolio-items">
        <li class="span4 mix commercial promotion">
          <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
            <img src="/images/work/01_th.jpg" alt="Treble">
            <div class="details">
              <h3 class="project-title">作品标题</h3>
              <small>作品描述</small>
            </div>
          </a>
        </li>
        <li class="span4 mix promotion behind-the-scenes commercial">
          <a href="#pages/portfolio/project_2.html" data-destination="portfolio-items" data-insert="before">
            <img src="/images/work/02_th.jpg" alt="Treble">
            <div class="details">
              <h3 class="project-title">作品标题</h3>
              <small>作品描述</small>
            </div>
          </a>
        </li>
        <li class="span4 mix documentary commercial">
          <a href="#pages/portfolio/project_3.html" data-destination="portfolio-items" data-insert="before">
            <img src="/images/work/03_th.jpg" alt="Treble">
            <div class="details">
              <h3 class="project-title">作品标题</h3>
              <small>作品描述</small>
            </div>
          </a>
        </li>
        <li class="span4 mix documentary">
          <a href="#pages/portfolio/project_4.html" data-destination="portfolio-items" data-insert="before">
            <img src="/images/work/04_th.jpg" alt="Treble">
            <div class="details">
              <h3 class="project-title">作品标题</h3>
              <small>作品描述</small>
            </div>
          </a>
        </li>
        <li class="span4 mix documentary behind-the-scenes promotion">
          <a href="#pages/portfolio/project_5.html" data-destination="portfolio-items" data-insert="before">
            <img src="/images/work/05_th.jpg" alt="Treble">
            <div class="details">
              <h3 class="project-title">作品标题</h3>
              <small>作品描述</small>
            </div>
          </a>
        </li>
        <li class="span4 mix documentary">
          <a href="#pages/portfolio/project_6.html" data-destination="portfolio-items" data-insert="before">
            <img src="/images/work/06_th.jpg" alt="Treble">
            <div class="details">
              <h3 class="project-title">作品标题</h3>
              <small>作品描述</small>
            </div>
          </a>
        </li>
        <li class="span4 mix commercial promotion behind-the-scenes">
          <a href="#pages/portfolio/project_7.html" data-destination="portfolio-items" data-insert="before">
            <img src="/images/work/07_th.jpg" alt="Treble">
            <div class="details">
              <h3 class="project-title">作品标题</h3>
              <small>作品描述</small>
            </div>
          </a>
        </li>
        <li class="span4 mix documentary commercial">
          <a href="#pages/portfolio/project_8.html" data-destination="portfolio-items" data-insert="before">
            <img src="/images/work/08_th.jpg" alt="Treble">
            <div class="details">
              <h3 class="project-title">作品标题</h3>
              <small>作品描述</small>
            </div>
          </a>
        </li>
        <li class="span4 mix commercial promotion">
          <a href="#pages/portfolio/project_9.html" data-destination="portfolio-items" data-insert="before">
            <img src="/images/work/09_th.jpg" alt="Treble">
            <div class="details">
              <h3 class="project-title">作品标题</h3>
              <small>作品描述</small>
            </div>
          </a>
        </li>
      </ul>
    </article>
    <!-- End Article -->

    <!-- Footer -->
    <footer>
      <div class="show-more-cube">
         <a href="#pages/portfolio/readmore.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
          <span>Show<br/>More</span>
        </a>
      </div>
    </footer>
    <!-- End footer -->
  </div>
</div>
<!-- END PAGE | WORK -->

<div class="pages white paralax page-before-blog" id="page-blog">
  <div class="container">
    <header>
      <h4 class="line-divider">BLOG</h4>
      <h1>最新文章</h1>
    </header>
  </div>
</div>

<!-- PAGE | BLOG -->
<div class="pages page-blog">
  <div class="container">
    <!-- Header -->
    <header>
      <div class="row">
        <div class="span8 offset2">
          <div class="input-append">
            <input class="span5" id="appendedInputButton" type="text" placeholder="Search Blog">
            <button class="btn btn-primary sicon-search sicon-white" type="button"><i>Search</i></button>
          </div>
        </div>
      </div>
      <nav class="submenu">
        <ul>
          <li>
            <a href="./pages/blog/blog.html">所有</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Technology</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Design</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Future trends</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Photography</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Other</a>
          </li>
        </ul>
      </nav>
    </header>
    <article>
      <ul class="thumbnails">
        <li class="span4">
          <a href="./pages/blog/blog_1.html">
            <img src="/images/blog/01_th_blog.jpg" alt="Treble">
          </a>
          <h5>
            Blog Post Title<br/>
            <small>April 10, 2013</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
          <div class="read-more">
            <a href="./pages/blog/blog_1.html">Read More...</a>
          </div>
        </li>
        <li class="span4">
          <a href="./pages/blog/blog_2.html">
            <img src="/images/blog/02_th_blog.jpg" alt="Treble">
          </a>
          <h5>
            Blog Post Title<br/>
            <small>April 10, 2013</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
          <div class="read-more">
            <a href="./pages/blog/blog_2.html">Read More...</a>
          </div>
        </li>
        <li class="span4">
          <a href="./pages/blog/blog_3.html">
            <img src="/images/blog/03_th_blog.jpg" alt="Treble">
          </a>
          <h5>
            Blog Post Title<br/>
            <small>April 10, 2013</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
          <div class="read-more">
            <a href="./pages/blog/blog_3.html">Read More...</a>
          </div>
        </li>
        <li class="span4">
          <a href="./pages/blog/blog_4.html">
            <img src="/images/blog/04_th_blog.jpg" alt="Treble">
          </a>
          <h5>
            Blog Post Title<br/>
            <small>April 10, 2013</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
          <div class="read-more">
            <a href="./pages/blog/blog_4.html">Read More...</a>
          </div>
        </li>
        <li class="span4">
          <a href="./pages/blog/blog_5.html">
            <img src="/images/blog/05_th_blog.jpg" alt="Treble">
          </a>
          <h5>
            Blog Post Title<br/>
            <small>April 10, 2013</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
          <div class="read-more">
            <a href="./pages/blog/blog_5.html">Read More...</a>
          </div>
        </li>
        <li class="span4">
          <a href="./pages/blog/blog_6.html">
            <img src="/images/blog/06_th_blog.jpg" alt="Treble">
          </a>
          <h5>
            Blog Post Title<br/>
            <small>April 10, 2013</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
          <div class="read-more">
            <a href="./pages/blog/blog_6.html">Read More...</a>
          </div>
        </li>
      </ul>
    </article>
    <footer>
      <div class="show-more-cube">
        <a href="./pages/blog/blog.html"><span>All Blog<br/>Posts</span></a>
      </div>
    </footer>
  </div>
</div>
<!-- END PAGE | BLOG -->
